
.timer2 {

    color: white;
    font-size: 2em;
    margin-top: 30%;
   
}

.popUp {

    /* position: absolute; */
    width: 15em;
    height: 15em;
    margin: auto;
    box-shadow:inset 0px 0px 15px 3px #9fb4f2; 
	/* background:linear-gradient(to bottom, #302c71 5%, #2b2761 100%); */
	background-color:#3F3E3F;
	/* border:1px solid #545180; */
    color: white;
    /* z-index: 4; */
    border-radius: 2em;
    padding: 2em;
} 

.popHead {

    margin-top: 5%;
    font-size: 2em;
}

.none {

    display: none;
}

