
.profile-text{
border: 1px solid rgb(114, 18, 204);
background-color:  rgb(49, 44, 113, 0.75);
margin-top: 4em;
display: flex;
justify-content: center;
align-items: center;
padding: 2em;
margin-top: 1rem;

} 

@media only screen and (max-width: 415px) {
    

        .profile-text{



            border: 1px solid rgb(114, 18, 204);
            background-color: rgb(49, 44, 113, 0.75);
            margin-top: 4em;
            display: flex;
            width: 18em;
            height: 46em;
            margin-left: 2em;
            
            margin: center;
            align-items: center;
            padding: 2em;
            margin-top: 1rem;
        
        }   
  }

.profile-icon-user{
    width: 3em;
    height: 3em;
}

.myprofile-title{
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
}

.myprofile-h4{
    font-size: 1.25rem;
    text-align: center;
    margin-top: 1.5rem;
}

.myprofile-h6{
    display: inline-block;
    padding-left: 1vh;
}


.game-points-by-category{
display: flex;
justify-content: space-between;
}


.music-points-display {
    margin-right: 3em;
}

a{
    margin-left: 0.8rem;
    font-size: 1.2rem;
}

.myprofile-btn{
    display: block;
    margin: auto;
    width: 8rem;
    border-radius: 5px;
}

.safeBtn{
    display: block;
    margin: auto;
    margin-top: -0.5rem;
    margin-bottom: 0.3rem;
    border-radius: 5px;
    width: 6rem;
}

.cancelBtn{
    display: block;
    margin: auto;
    margin-top: 15px;
    width: 6rem;
    border-radius: 5px;
}